body {
  padding-top: 65px;
  font-family: 'heebo', 'Lato', sans-serif;
}

/*add padding around links and logo*/
.nav-style {
    padding-top: 12px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 12px;
}
/*style the navigation*/
.navbar{
  background-color: white;
  border-color: #16a88e;
}

nav a {
    color: #16a88e;
}

/*.navbar-default .navbar-nav .active a, .navbar-default .navbar-nav .active a:focus, .navbar-default .navbar-nav .active a:hover {
    color: #555;
    background-color: white;
}*/

.nav-pills li.active a, .nav-pills li.active a:hover, .nav-pills li.active a:focus {
    color: white;
    background-color: #16a88e;

}

/*set color and allignment of text within jumpotron and add background image*/
.jumbotron {
    margin-bottom: 0px;
    background-position: 0% 25%;
    background-size: cover;
    height: 500px;
    color: white;
    text-align: center;
}

.team {
      background-image: url(https://interactive.miami.edu/onahighnote/img/brainstorm2.jpg);
}
.research{
      background-image: url(https://interactive.miami.edu/onahighnote/img/research2.jpg);
}

.process {
      background-image: url(https://interactive.miami.edu/onahighnote/img/process.jpg);
}

.home{
      background-image: url(https://interactive.miami.edu/onahighnote/img/main-image-home.jpg);
}

.gallery {
    background-image: url(https://interactive.miami.edu/onahighnote/img/brainstorm3.jpg);
}
.jumbotron p{
margin-right: 20%;
margin-left: 20%;

}


/*spacing between rows*/
.container {
  padding-top: 30px;
}


/*button styling*/
.btn {
  background-color: #66CCFF;
  border: none;
  color: #fff;
}

.btn:hover{
  background-color: #468DCB;
  border: none;
  color: #fff;
}

/**/

/*.footer {
  padding-right: 15px;
  padding-left: 15px;
}*/

.footer {
  margin-top: 25px;
  padding-top: 25px;
  border-top: 1px solid  #16a88e;
  height: 100px;
}

.footer img {
  max-height: 60px;
  padding-left: 20px;
}
